// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif !default;
$font-family--headings:       $font-family !default;

$font-size--h4:               1.25em !default;

$line-height:                 1.375em !default;

$screen-lg:                   992px !default;

$opacity:                     0.7 !default;
$transition-time:             0.3s !default;

$z-index-modal:               100 !default;

.js-modal-open {
  overflow: hidden;
}

.modal {

  $block-name:                &; // #{$block-name}__element

  display: none;
  overflow: hidden;
  position: fixed;
  top: 65px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal;
  -webkit-overflow-scrolling: touch;

  .js-modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__dialog {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;

    @media (min-width: $screen-md) {
      width: 320px;
      height: auto;
      margin-top: 10px;
      margin-right: 40px;

      #{$block-name}--open & {
        animation: modal-content-show $transition-time 1 both;
      }
    }

    /* @media (min-width: $screen-lg) {
      width: 600px;
      height: auto;
      margin-top: 10px;
      margin-right: 40px;

      #{$block-name}--open & {
        animation: modal-content-show $transition-time 1 both;
      }
    } */

    @media (min-width: $screen-xl) {
      margin-left: calc(50% + 250px);
      margin-right: auto;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    outline: 0;

    @media (min-width: $screen-md) {
      min-height: auto;
    }
  }

  &__header {
    padding: 5px 40px 0 10px;
    flex-shrink: 0;
  }

  &__title {
    margin-top: ($line-height / 2);
    margin-bottom: ($line-height / 2);
    font-size: $font-size--h4;
    line-height: 1.4;
    font-weight: 700;
    color: currentColor;
  }

  &__close {
    position: absolute !important; // stylelint-disable-line  declaration-no-important
    top: 5px;
    right: 5px;
  }

  &__body {
    padding: 30px 20px;
    flex-grow: 1;

    @media (min-width: $screen-md) {
      flex-grow: 0;
    }
  }

  &__footer {
    padding: 10px;
    flex-shrink: 0;
  }

  &__backdrop {
    position: fixed;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: ($z-index-modal - 1);
    background-color: rgba(0, 0, 0, $opacity);

    @media (min-width: $screen-lg) {
      animation: modal-backdrop-show $transition-time 1;
    }
  }

  &--open {

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__login-form {

    input[type=radio] {
      display: none;
    }

    #check-in:checked ~ .modal__input-wrapper label[for=check-in],
    #login:checked ~ .modal__input-wrapper label[for=login] {
      color: $title-color;
      background-color: $white;
    }

    #login:checked ~ .modal__input-wrapper {
      &--email,
      &--confirm,
      &--checkin-submit {
        display: none;
      }
    }

    #check-in:checked ~ .modal__input-wrapper {
      &--email,
      &--confirm,
      &--checkin-submit {
        display: block;
      }

      &--login-submit,
      &--recall-password {
        display: none;
      }
    }
  }


  &__input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    color: $white;

    .btn-submit {
      max-width: 100%;
      margin-left: 0;
      margin-right: auto;
    }

    a {
      display: inline-block;
      margin-bottom: 20px;
      padding: 5px 0;
      font-size: 14px;
      text-decoration: none;
      color: inherit;
    }

    label {
      display: block;
      width: 50%;
      padding: 10px;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: $white;
      background-color: transparent;
      border: 2px solid $white;
      cursor: pointer;

      &:hover,
      &:active,
      &.active {
        color: $title-color;
        background-color: $white;
        // border-color: $bgr-dark;
      }
    }

    &--control {
      margin-bottom: 30px;
    }
  }

  &__input-name,
  &__input-password,
  &__input-email {
    width: 100%;
    height: 44px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 3px;
  }

  &--login {

    @media (min-width: $screen-md) {
      align-items: flex-start !important;
      justify-content: flex-end !important;
    }
  }


}

@keyframes modal-backdrop-show {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-content-show {

  0% {
    opacity: 0;
    transform: translateY(-2em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
