// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.main-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  margin: 0;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  transform: translate(-105vw, 64px);
  transition: transform 0.35s ease-in-out;

  @media (min-width: $screen-xl) {
    position: static;
    display: flex;
    width: auto;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    // align-self: center;
    transform: none;
    background-color: transparent;
  }

  $block-name:                &; // #{$block-name}__element

  &--open {
    transform: translate(0, 64px);
  }

  &__list {
    margin: 0;
    // visibility: hidden;

    @media (min-width: $screen-xl) {
      display: flex;
      height: auto;
    }
  }

  &__item {
    position: relative;
    list-style: none;
    color: $white;

    @media (min-width: $screen-xl) {
      display: flex;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__link {
    display: block;
    padding: 0.5em;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
    transition: all 0.35s ease-in;

    &:hover,
    &.active {
      background-color: $bgr-light;
      color: $title-color;
      text-decoration: none;

      @media (min-width: $screen-xl) {
        &::before,
        &::after {
          position: absolute;
          display: block;
          content: "";
          width: 2px;
          height: 22px;
          background-color: currentColor;
        }

        &::before {
          bottom: 0;
          left: 0;
        }

        &::after {
          top: 0;
          right: 0;
        }
      }

      @media (min-width: $screen-xl) {
        color: $bgr-dark;
        background-color: $white;
      }
    }

    @media (min-width: $screen-xl) {
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

}
