// В этом файле должны быть стили для БЭМ-блока lease, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.lease {
  padding-top: 30px;
  padding-bottom: 60px;

  @media (min-width: $screen-md) {
    padding-bottom: 120px;
  }

  $block-name:                &; // #{$block-name}__element

  &__header {
    padding: 25px 15px;
    margin-bottom: 35px;
    text-align: center;
    background-color: $bgr-light;

    p {
      text-align: inherit;
    }

    @media (min-width: $screen-md) {
      padding: 30px;
      margin-bottom: 60px;
    }
  }

  &__content {

    /* @media (min-width: $screen-xl) {
      background: linear-gradient(to right, $bgr-light, $bgr-light 50%, $bgr-dark 50%);
    } */
  }

  &__inner {

    @media (min-width: $screen-xl) {
      display: flex;
      width: 1120px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__text-wrapper {
    padding: 35px 20px;
    background: url(../img/lease-text-bg-mobile@1x.jpg) no-repeat center center;
    background-size: cover;

    p {
      margin: 0;
    }

    p + p {
      margin-top: 0.7rem;
    }

    @media (min-width: $screen-md) {
      padding: 60px 100px;
      background-image: url(../img/lease-text-bg-tablet@1x.jpg);
    }

    @media (min-width: $screen-xl) {
      flex-shrink: 0;
      width: 60%;
      padding: 120px 60px;
      background-image: url(../img/lease-text-bg-desktop@1x.jpg);
    }
  }

  &__form-wrapper {
    padding: 35px 20px;
    color: $white;
    background: url(../img/lease-form-bg-mobile@1x.jpg) no-repeat center center;
    background-size: cover;

    @media (min-width: $screen-md) {
      padding: 60px 60px;
      background-image: url(../img/lease-form-bg-tablet@1x.jpg);
    }

    @media (min-width: $screen-xl) {
      flex-shrink: 0;
      width: 40%;
      padding: 120px 60px;
      background-image: url(../img/lease-form-bg-desktop@1x.jpg);
    }
  }

  &__subtitle {
    margin-top: 0;

    &--form {
      margin-bottom: 25px;
      color: inherit;
    }
  }

  &__form {

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__input-wrapper {
    width: 100%;

    input,
    span {
      width: 100%;
    }

    input {
      height: 44px;
      padding: 7px 15px;
      border-radius: 3px;
      border: none;
    }

    span {
      display: block;
      height: 30px;
      padding: 5px 0;
      color: inherit;
    }

    @media (min-width: $screen-md) {
      width: 48%;
    }

    @media (min-width: $screen-xl) {
      width: 100%;
    }

  }

  &__input-wrapper:last-child {

    @media (min-width: $screen-md) {
      width: 100%;
    }
  }


}
