
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  min-width: 320px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Типографика проекта — в блоке typo
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  min-height: 100%;
  background-color: #fff;
  margin: 0;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line  declaration-no-important
}

// iOS 'clickable elements' fix for role='button'
[role='button'] {
  cursor: pointer;
}

// We love Safari
input[type='search'] {
  -webkit-appearance: textfield; // stylelint-disable-line  property-no-vendor-prefix
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
a,
// area,
button,
[role='button'],
input,
label,
select,
// summary,
textarea {
  touch-action: manipulation;
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

a:hover {
  text-decoration-skip: ink;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
}

.visible {
  display: block !important;
}

.no-scroll {
   height: 100%;
   width: 100%;
   position: fixed;
   overflow: hidden;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  @include container(
    $xs-grid-gutter: 40px,
    $sm-grid-gutter: 40px,
    $md-grid-gutter: 80px,
    $lg-grid-gutter: 80px,
    $xl-grid-gutter: 80px
  );
}

.row {
  @include row(
    $xs-grid-gutter:  0,
    $sm-grid-gutter:  0,
    $md-grid-gutter:  0,
    $lg-grid-gutter:  0,
    $xl-grid-gutter:  0
  )
}

.row-full {
  @include row(
    $xs-grid-gutter:  0,
    $sm-grid-gutter:  0,
    $md-grid-gutter:  $grid-gutter-width,
    $lg-grid-gutter:  $grid-gutter-width,
    $xl-grid-gutter:  $grid-gutter-width
  )
}

.title-wrapper {
  background-color: $bgr-light;
  margin-bottom: 35px;

  @media (min-width: $screen-md) {
    margin-bottom: 60px;
    background: linear-gradient(to right, $bgr-dark, $bgr-dark 50%, $bgr-light 50%, $bgr-light);
  }

  &--right {

    @media (min-width: $screen-md) {
      background: linear-gradient(to left, $bgr-dark, $bgr-dark 50%, $bgr-light 50%, $bgr-light);
    }
  }
}

.title {
  margin-top: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
  text-align: center;
  color: $white;
  background-color: $bgr-dark;

  @include col (
    $screen:  md,
    $column:  6,
    $columns: $grid-columns,
    $gutter:  $grid-gutter-width
  )

  &--right {

    @include col-offset (
      $screen: md,
      $column: 6,
      $columns: $grid-columns
    )

    @include col (
      $screen:  md,
      $column:  6,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )
  }
}

.error-message {
  display: block;
  width: 100%;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: 12px;
  color: inherit;

  &--sucsess {
    position: relative;
    padding-left: 20px !important;
    margin-bottom: 20px;
    font-size: 16px  !important;
    font-weight: 500  !important;
    color: #61e261  !important;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 5px;
      height: 100%;
      background-color: white;
    }
  }
}
