// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.btn {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  margin: 0;
  padding: 10px 60px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 20px;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $white;
  border-radius: $border-radius;
  border: 2px solid transparent;
  background-color: $bgr-dark;
  background-image: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.35s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    // background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    // background-color: $gray-lightest;
    // border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--more {
    position: relative;
    @include text-hide;
    display: block;
    width: 80px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    color: $white;
    background-color: $bgr-dark;
    border-radius: 0;
    transition: all 0.35s ease-in-out;

    svg {
      display: block;
      width: 9px;
      height: 18px;
      margin: auto;
      fill: currentColor;
    }

    &:hover {
      color: $bgr-dark;
      background-color: $white;

      &::before,
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 10px;
        height: 18px;
        background-color: $bgr-dark;
      }

      &::before {
        left: 0;
        top: 14px;
      }

      &::after {
        right: 0;
        top: 0;
      }
    }

    &:active {
      color: $white;
      background-color: $bgr-dark;

      &::before,
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background-color: $white;
      }

      &::before {
        left: 0;
        top: 0;
      }

      &::after {
        right: 0;
        top: 20px;
      }
    }
  }
}

.btn-submit {
  display: block;
  min-width: 205px;
  min-height: 44px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 18px;
  font-weight: 500;
  color: currentColor;
  background: none;
  border: 3px solid $white;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.35s ease-in-out;

  &:hover,
  &:active {
    color: $title-color !important;
    background: $white !important;
  }

  &--disabled,
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    color: $text-muted;
    pointer-events: none;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  @media (min-width: $screen-md) {
    margin-left: 0;
  }

  &--invert-color {
    color: $title-color;
    background: none;
    border-color: $bgr-dark;

    &:hover,
    &:active {
      color: $white !important;
      background: $bgr-dark !important;
    }
  }

  &--carwash {
    color: $white;
    background: $bgr-dark;
    border-color: $bgr-dark;

    &:hover,
    &:active {
      color: $bgr-dark !important;
      background: $white !important;
      border-color: $bgr-dark;
    }
  }
}
