// В этом файле должны быть стили для БЭМ-блока services, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {
  padding-bottom: 60px;

  $block-name:                &; // #{$block-name}__element

  &__title-wrapper {
    margin-bottom: 35px;
    background-color: $bgr-light;

    @media (min-width: $screen-md) {
      margin-bottom: 60px;
      background: linear-gradient(to right, $bgr-dark, $bgr-dark 50%, $bgr-light 50%, $bgr-light);
    }
  }

  &__title {
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
    text-align: center;
    color: $white;
    background-color: $bgr-dark;

    @include col (
      $screen:  md,
      $column:  6,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
  }

  &__item {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    // width: calc(100% - 15px);
    margin-bottom: 35px;
    // width: 280px;

    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      content: "";
      display: block;
      width: 15px;
      height: 100%;
      background-color: $bgr-light;
    }

    @media (min-width: $screen-md) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 55px;
    }

    &--reflect {
      align-items: flex-end;
      align-self: flex-end;

      &::after {
        right: auto;
        left: 0;
      }

      @media (min-width: $screen-md) {
        align-items: initial;
      }
    }
  }

  &__img-wrapper {
    display: block;
    width: 265px;
    height: 125px;
    height: auto;
    overflow: hidden;

    @media (min-width: $screen-md) {
      width: 275px;
      height: 180px;
    }

    @media (min-width: $screen-xl) {
      width: 550px;
      height: 260px;
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-right: 15px;

    p + p {
      margin-top: 10px;
    }

    @media (min-width: $screen-md) {
      width: calc(100% - 275px);
      padding-left: 20px;
      padding-right: 95px;
    }

    @media (min-width: $screen-xl) {
      width: calc(100% - 550px);
      padding-top: 50px;
      padding-bottom: 30px;
      padding-left: 95px;
    }

    &--reflect {
      padding-right: 0;
      padding-left: 30px;

      @media (min-width: $screen-md) {
        order: -1;
        text-align: right;
        padding-right: 20px;
        padding-left: 95px;
      }

      @media (min-width: $screen-xl) {
        padding-right: 95px;
      }
    }
  }

  &__sub-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;

    @media (min-width: $screen-md) {
      font-size: 22px;
    }
  }

  &__para {
    margin: 0;
  }

  &__link-wrapper {
    width: 100%;
    margin: 0;
  }

  &__link {
    margin-left: auto;
    margin-right: 15px;

    @media (min-width: $screen-md) {
      // margin-right: 10px;
    }

    &--reflect {
      margin-right: auto;
      margin-left: 15px;
    }
  }

}
