// В этом файле должны быть стили для БЭМ-блока partners, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.partners {
  padding-bottom: 60px;

  $block-name:                &; // #{$block-name}__element

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    width: 100px;

    @media (min-width: $screen-md) {
      width: 150px;
    }

    @media (min-width: $screen-xl) {
      width: 200px;
    }
  }

  &__link {
    display: block;

    img {
      display: block;
      width: 100%;
    }
  }

}
