// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  @media (min-width: $screen-xl) {
    background: linear-gradient(to right, #545454, #545454 50%, #f4f4f4 50%, #f4f4f4);
  }

  $block-name:                &; // #{$block-name}__element

  &__wrapper {

    @media (min-width: $screen-xl) {
      display: flex;
      width: 1180px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
