// В этом файле должны быть стили для БЭМ-блока burger, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

.burger {
  // margin-top: auto;
  // margin-bottom: auto;

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  height: 65px;
  // width: 55px;
  user-select: none;
  cursor: pointer;

  @media (min-width: $screen-xl) {
    display: none;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    //height: 100%;
    width: 25px;
    height: 20px;
    margin: auto;
    @include text-hide;
    color: $white;
    transition: all 0.4s ease;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 13px;
      height: 2px;
      background-color: currentColor;
    }

    &::before {
      top: 0;
      left: 0;
      // transform: translateY(-8px);
    }

    &::after {
      bottom: 0;
      right: 0;
      // transform: translateY(8px);
    }

    &:hover,
    &:active,
    &.active {
      color: $white;
      transform: rotate(90deg);

      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }

      &::after {
        bottom: 0;
        right: 0;
        width: 25px;
      }
    }
  }


  &__item {
    display: block;
    width: 25px;
    height: 2px;
    background-color: currentColor;
  }

}
