// В этом файле должны быть стили для БЭМ-блока service-menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.service-menu {
  margin-bottom: 35px;
  background-color: $bgr-dark;

  @media (min-width: $screen-md) {
    margin-bottom: 60px;
  }

  $block-name:                &; // #{$block-name}__element

  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $white;
    padding-left: 60px;
    padding-right: 60px;

    @media (min-width: $screen-md) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__list {
    display: flex;
    // flex-shrink: 1;
    // width: 180px;
    width: 100%;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    // overflow: hidden;  // откл. для swiper-slider
    box-sizing: border-box;

    @media (min-width: $screen-md) {
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      // overflow: hidden;
    }
  }

  &__item {
    width: 180px;
    // max-width: 100%;
    flex-shrink: 0;

    @media (min-width: $screen-md) {
      width: 180px;
    }

    @media (min-width: $screen-lg) {
      width: 240px;
    }

    @media (min-width: $screen-xl) {
      width: 260px;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 7px 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: inherit;
    color: $text-muted;
    // background-color: $bgr-dark;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.active {
      color: $white;
      background-color: $bgr-dark;
      pointer-events: none;

      &::before,
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 14px;
        height: 28px;
        background-color: currentColor;
      }

      &::before {
        bottom: 0;
        left: 0;
      }

      &::after {
        top: 0;
        right: 0;
      }
    }

    &:hover,
    &:active,
    &:focus {
      color: $bgr-dark;
      background-color: $white;

      &::before,
      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 14px;
        height: 28px;
        background-color: currentColor;
      }

      &::before {
        bottom: 0;
        left: 0;
      }

      &::after {
        top: 0;
        right: 0;
      }
    }

  }

  &__btn-link {
    position: absolute;
    z-index: 5;
    @include text-hide;
    display: block;
    flex-shrink: 0;
    width: 30px;
    height: 44px;
    padding-top: 13px;
    padding-bottom: 13px;
    user-select: none;
    text-decoration: inherit;
    background-color: $bgr-dark !important;
    color: $white !important;
    // border: 2px solid $black;
    cursor: pointer;
    box-sizing: border-box;

    svg {
      display: block;
      width: 9px;
      height: 18px;
      margin: auto;
      fill: currentColor;
    }

    /* &.disabled {
      opacity: 0.5;
      pointer-events: none;
    } */

    &--next {
      top: 0;
      right: 0;
    }

    &--prev {
      top: 0;
      left: 0;

      svg {
        transform: rotate(180deg);
      }
    }

    @media (min-width: $screen-md) {
      display: none;
    }
  }

}
