// В этом файле должны быть стили для БЭМ-блока features, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.features {
  padding-top: 30px;
  padding-bottom: 60px;

  $block-name:                &; // #{$block-name}__element

  &__title-wrapper {
    background-color: $bgr-light;
    margin-bottom: 35px;

    @media (min-width: $screen-md) {
      margin-bottom: 60px;
      background: linear-gradient(to right, $bgr-dark, $bgr-dark 50%, $bgr-light 50%, $bgr-light);
    }
  }

  &__title {
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
    text-align: center;
    color: $white;
    background-color: $bgr-dark;

    @include col (
      $screen:  md,
      $column:  6,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )
  }


  &__list {
    margin: 0;
    padding-top: 5px;
    list-style-type: none;
  }

  &__item {
    position: relative;
    margin-bottom: 45px;
    padding-left: 50px;
    font-size: 14px;
    font-weight: 500;

    @include col (
      $screen:  md,
      $column:  6,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    @include col (
      $screen:  xl,
      $column:  4,
      $columns: $grid-columns,
      $gutter:  $grid-gutter-width
    )

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: -7px;
      left: 0;
      display: block;
      content: "";
      width: 34px;
      height: 34px;
    }

    @media (min-width: $screen-md) {
      padding-left: 50px;
    }

    @media (min-width: $screen-xl) {
      padding-left: 50px;
    }
  }

  &__item--location::before {
    background: transparent url(../img/location.svg) no-repeat center center;
  }

  &__item--green-zone::before {
    background: transparent url(../img/green-zone.svg) no-repeat center center;
  }

  &__item--quite-zone::before {
    background: transparent url(../img/quite-zone.svg) no-repeat center center;
  }

  &__item--energy-save::before {
    background: transparent url(../img/energy-save.svg) no-repeat center center;
  }

  &__item--24x7-guard::before {
    background: transparent url(../img/24x7-guard.svg) no-repeat center center;
  }

  &__item--access-control::before {
    background: transparent url(../img/access-control.svg) no-repeat center center;
  }

  &__item--cctv::before {
    background: transparent url(../img/cctv.svg) no-repeat center center;
  }

  &__item--parking::before {
    background: transparent url(../img/parking.svg) no-repeat center center;
  }

  &__item--cleaning::before {
    background: transparent url(../img/cleaning.svg) no-repeat center center;
  }

}
